bottle>=0.12.25
lxml>=4.9.3
defusedxml>=0.7.1
m3u8>=4.0.0
iso8601>=1.1.0
pycountry>=23.12.11
python-dateutil>=2.8.2
urllib3>=2.0.7
pymp4~=1.4.0
protobuf~=6.33.0
pycryptodome~=3.23.0
ecpy
platformdirs
click~=8.1.7
requests~=2.32.5
Unidecode~=1.3.7
PyYAML~=6.0.3

# Optional but recommended
aiohttp>=3.8.5
cryptography>=41.0.4

# For development/debugging
python-dotenv>=1.0.0